.button
  background brightRed
  border 2px solid brightRed
  color #ffffff
  font-family raleway
  font-size 1.6rem
  font-weight 600
  margin-right 2rem
  min-width 4rem
  padding 1.2rem 3rem
  text-transform uppercase
  &:hover
    background #ffffff
    border 2px solid brightRed
    color brightRed
  // &__close
  //   background #ffffff
  //   border 2px solid brightRed
  //   color brightRed
  //   &:hover
  //     background brightRed
  //     border 2px solid brightRed
  //     color #ffffff

