.button
  background brightRed
  border 0.1rem solid brightRed
  color offWhite
  cursor pointer
  font-family raleway
  font-size 1.6rem
  font-weight 600
  margin-right 2rem
  min-width 4rem
  padding 1.2rem 3rem
  text-transform uppercase
  &:hover
    background offWhite
    border 0.1rem solid brightRed
    color brightRed
  &--alternative
    background offWhite
    border 0.1rem solid darkGrey
    color darkGrey
    &:hover
      background darkGrey
      border 0.1rem solid darkGrey
      color offWhite
  &--inline
    display inline-block
    font-size 1.4rem
    margin 0.6rem
    min-width 1rem
    padding 1.2rem 2.6rem

