.button
  background brightRed
  border 2px solid brightRed
  color #ffffff
  cursor pointer
  font-family raleway
  font-size 1.6rem
  font-weight 600
  margin-right 2rem
  min-width 4rem
  padding 1.2rem 3rem
  text-transform uppercase
  &:hover
    background #ffffff
    border 2px solid brightRed
    color brightRed
  &--alternative
    background #ffffff
    border 2px solid brightRed
    color brightRed
    &:hover
      background brightRed
      border 2px solid brightRed
      color #ffffff
  &--inline
    display inline-block
    font-size 1.4rem
    margin 0.6rem
    min-width 1rem
    padding 1.2rem 2.6rem

