.nav
  font-family proxima
  margin 0 2rem
  &__list
    margin 0.4rem 1.6rem
  &__link
    border-bottom 2px solid lightGrey
    color lightGrey
    font-size 1.8rem
    font-weight 600
    margin-left 4rem
    padding 2rem 0 1rem 0
    &:hover
      font-weight 700