// Day View - Room Table Display
.table
  background offWhite
  border 0.1rem solid mediumGrey
  border-collapse collapse !important
  border-spacing 0 0 !important
  color darkGrey
  -webkit-box-shadow 0px 2px 5px 0px rgba(206,206,206,1)
  -moz-box-shadow 0px 2px 5px 0px rgba(206,206,206,1)
  box-shadow 0px 2px 5px 0px rgba(206,206,206,1)
  margin 1rem
  padding 0
  width 100%
  // table-layout fixed
  &__body
    tr
      &:first-child
        border-top none
  &__cell
    padding 0
    &--align-left
      text-align left
    &--level
      font-size 2.2rem
    &--width
      width 12rem
  &__row
    &:hover
      background lightGrey
      border 0.1rem solid mediumGrey
      -webkit-box-shadow 2px 2px 5px 0px rgba(206,206,206,1)
      -moz-box-shadow 2px 2px 5px 0px rgba(206,206,206,1)
      box-shadow 2px 2px 5px 0px rgba(206,206,206,1)
    td
      border 0.1rem solid mediumGrey
  &__row
    th
      border 1px solid mediumGrey
      padding 1rem
      // &:first-child
      //   padding 2rem
    &--header
      background mediumGrey
      margin 0 auto
      padding 0
      &:hover
        background mediumGrey
    &--subheader
      background lightGrey
      &:hover
        -webkit-box-shadow unset
        -moz-box-shadow unset
        box-shadow unset
  &__data--asset
    font-family proxima
    font-size 1.4rem
    font-weight 400
    line-height 1
    padding 0
    text-align left
  &__link
    color darkGrey
    padding 0
    &:hover
      border-bottom 0.2rem solid darkGrey
      color darkGrey

// Business Unit Booking Styling
.table__cell--booked // Styling for timeslots that have been booked
  cursor pointer
  display block
  padding 2.8rem 0
  width 100%

.table
  td
    width 3rem
    height 3rem

.table
  .table__row th
    height 6rem

.table
  .table__row--subheader th
    height 4rem

.table__cell--business-unit-1
  background businessUnit1
  padding 3rem 0
  cursor pointer
  &.table__cell--first-half-hour
    background businessUnit1
    cursor pointer
    display block
    float left
    padding 3rem 0
    width 50%
  &.table__cell--second-half-hour
    background businessUnit1
    cursor pointer
    display block
    float right
    padding 3rem 0
    width 50%

.table__cell--business-unit-2
  background businessUnit2
  padding 3rem 0
  cursor pointer
  &.table__cell--first-half-hour
    background businessUnit2
    cursor pointer
    display block
    float left
    padding 3rem 0
    width 50%
  &.table__cell--second-half-hour
    background businessUnit2
    cursor pointer
    display block
    float right
    padding 3rem 0
    width 50%

.table__cell--business-unit-3
  background businessUnit3
  padding 3rem 0
  cursor pointer
  &.table__cell--first-half-hour
    background businessUnit3
    cursor pointer
    display block
    float left
    padding 3rem 0
    width 50%
  &.table__cell--second-half-hour
    background businessUnit3
    cursor pointer
    display block
    float right
    padding 3rem 0
    width 50%

.table__cell--business-unit-4
  background businessUnit4
  border-top 1rem solid businessUnit4
  cursor pointer
  &.table__cell--first-half-hour
    background businessUnit4
    cursor pointer
    display block
    float left
    padding 3rem 0
    width 50%
  &.table__cell--second-half-hour
    background businessUnit4
    cursor pointer
    display block
    float right
    padding 3rem 0
    width 50%

.table__cell--business-unit-5
  background businessUnit5
  border-top 1rem solid businessUnit5
  cursor pointer
  &.table__cell--first-half-hour
    background businessUnit5
    cursor pointer
    display block
    float left
    padding 3rem 0
    width 50%
  &.table__cell--second-half-hour
    background businessUnit5
    cursor pointer
    display block
    float right
    padding 3rem 0
    width 50%
