// Day View - Room Table Display
.table
  color darkGrey
  border 1px solid mediumGrey
  border-collapse collapse
  margin 3rem 1rem
  padding 0
  width 880px
  // table-layout fixed
  &__body
    tr
      &:first-child
        border-top none
      // &:last-child
      //   border-bottom 2px solid darkGrey
      // &:last-child > td
      //   border-bottom 2px solid darkGrey
  &__cell
    padding 0
    line-height 0
    &--align-left
      text-align left
    &--level
      font-size 2.2rem
    &--width
      width 12rem
  &__row
    &:hover
      background lightGrey
  &__row
    td
      border 1px solid mediumGrey
      // &:first-child
      //   border-left 2px solid mediumGrey
      // &:last-child
      //   border-right 2px solid mediumGrey
  &__row
    th
      border 1px solid mediumGrey
      padding 1.2rem
      // &:first-child
      //   border-left 2px solid mediumGrey
      // &:last-child
      //   border-right 2px solid mediumGrey
  &__row--header
    background mediumGrey
    // border 2px solid mediumGrey
    margin 0 auto
    padding 0
    &:hover
      background mediumGrey
    //   border 2px solid mediumGrey
    // th
    //   &:first-child
    //     border-left 2px solid mediumGrey
    //   &:last-child
    //     border-right 2px solid mediumGrey
  &__row--subheader
    background lightGrey
    // border 2px solid mediumGrey
    // &:hover
    //   border 2px solid mediumGrey
  &__data--asset
    font-family proxima
    font-size 1.4rem
    font-weight 400
    line-height 1
    padding 0
    text-align left
  &__link
    color darkGrey
    padding 0
    &:hover
      border-bottom 0.2rem solid darkGrey
      color darkGrey

// Business Unit Booking Styling
.table_cell--booked
  cursor pointer
  display block
  padding 2rem
  width 85%

.table__cell--business-unit-1
  background businessUnit1
  border-top 1rem solid businessUnit1
  &.table__cell--first-half-hour
    background businessUnit1
    cursor pointer
    display block
    float left
    padding 2rem 0
    width 50%
  &.table__cell--second-half-hour
    background businessUnit1
    cursor pointer
    display block
    float right
    padding 2rem 0
    width 50%

.table__cell--business-unit-2
  background businessUnit2
  border-top 1rem solid businessUnit2
  &.table__cell--first-half-hour
    background businessUnit2
    cursor pointer
    display block
    float left
    padding 2rem 0
    width 50%
  &.table__cell--second-half-hour
    background businessUnit2
    cursor pointer
    display block
    float right
    padding 2rem 0
    width 50%

.table__cell--business-unit-3
  background businessUnit3
  border-top 1rem solid businessUnit3
  &.table__cell--first-half-hour
    background businessUnit3
    cursor pointer
    display block
    float left
    padding 2rem 0
    width 50%
  &.table__cell--second-half-hour
    background businessUnit3
    cursor pointer
    display block
    float right
    padding 2rem 0
    width 50%

.table__cell--business-unit-4
  background businessUnit4
  border-top 1rem solid businessUnit4
  &.table__cell--first-half-hour
    background businessUnit4
    cursor pointer
    display block
    float left
    padding 2rem 0
    width 50%
  &.table__cell--second-half-hour
    background businessUnit4
    cursor pointer
    display block
    float right
    padding 2rem 0
    width 50%

.table__cell--business-unit-5
  background businessUnit5
  border-top 1rem solid businessUnit5
  &.table__cell--first-half-hour
    background businessUnit5
    cursor pointer
    display block
    float left
    padding 2rem 0
    width 50%
  &.table__cell--second-half-hour
    background businessUnit5
    cursor pointer
    display block
    float right
    padding 2rem 0
    width 50%
