businessUnit1 = honeydew
businessUnit2 = peachpuff
businessUnit3 = lightblue
businessUnit4 = lavender
businessUnit5 = lightpink

brightRed = #ED1C24
deepRed = #C90119
lightGrey = #F4F4F4
mediumGrey = #CECECE
darkGrey = #1c1c11
