businessUnit1 = #70d6ff
businessUnit2 = #ffd670
businessUnit3 = #ef709d
businessUnit4 = #dabfff
businessUnit5 = #85ffc7

brightRed = #ED1C24
deepRed = #C90119
offWhite = #fafafa
lightGrey = #f4f4f4
mediumGrey = #cecece
semiDarkGrey = #a5a5a5
darkGrey = #1c1c1c
