/* .time-selector label {
  display: block;
  margin: 15px;
  text-align: center;
}

.time-selector input {
  display: block;
  margin: 10px auto;
}

select {
  display: block;
  margin: 10px auto;
} */

/* form {
  padding: 20px;
  margin: 10px auto;
  width: 1000px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(4, 5, 10, 0.2);
  } */

/* .main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1500px;
  margin: 10px auto;
} */

/* .booking-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1900px;
  margin: 10px auto;
} */

/* .room-selector {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  border: 0.5px solid lightgray;
  border-radius: 10px;
} */
/* 
.date-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 480px;
  margin: 20px auto;
} */

/* .date-selector {
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.right-container {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
} */

/* .left-container {
  border: 1px solid red;
  margin: 10px;
}

.middle-container {
  border: 1px solid red;
  margin: 10px;
} */
/* 
.room-table {
  border: 2px solid #CECECE;
  border-collapse: collapse;
  margin: 3rem auto;
  padding: 0;
  table-layout: fixed;
  width: 50%;
}

.room-table .header-row th {
  background: #F4F4F4;
  border: 2px solid #CECECE;
  height: 4rem;
} */

/* .room-table .body-row td {
  height: 8rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
} */

/* .room-table .bookings-column {
  width: 80%;
}

.room-table .left-column {
  width: 20%;
  border-right: 2px solid #CECECE;
} */

/* .room-table .body-row table {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.room-table .body-row table .sub-cell-divider {
  border-bottom: 2px solid #F4F4F4;
} */

/* .room-table .body-row table .sub-cell {
  height: 3rem;
}

.room-table .body-row .available:hover {
  background-color: #F4F4F4;
}

.room-table .business-unit-1 {
  background-color: honeydew;
}

.room-table .business-unit-2 {
  background-color: peachpuff;
}

.room-table .business-unit-3 {
  background-color: lightblue;
}

.room-table .business-unit-4 {
  background-color: lightgreen;
}

.room-table .business-unit-5 {
  background-color: lightpink;
}

a {
  padding: 10px 5px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

#brand {
  float: left;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: .5em;
}

li {
  display: inline-block;
  padding: 10px 18px 10px 18px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  float: right;
}

.user-info {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  margin-right: 10px;
  border: 0.5px solid lightgray;
  border-radius: 10px;
} */

/*
.filter-element {
  width: 200px;
  margin: 10px auto;
  padding: 10px 20px;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  text-align: left;
}

.filter-button-container {
  display: flex;
  justify-content: center;
}

.filter-button {
  background: red;
  color: white;
  border: 1px solid red;
  min-width: 80px;
}

.reset-button {
  border: 1px solid red;
  color: red;
}

.custom-button {
  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-transform: none;
  text-transform: capitalize;

  border-radius: 4px;
  width: 80px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
 
  justify-content: center;
  align-items: center;
} */

/* .sign-in-form {
  margin-top: 10%;
} */
/* 
.left-panel {
  margin-top: 20px;
} */
