@require './_*.styl'

// Business Unit Booking Styling
.business-unit-1
  background bu1

.business-unit-2
  background bu2

.business-unit-3
  background bu3

.business-unit-4
  background bu4

.business-unit-5
  background bu5