@require './_*.styl'
@require './*/_*.styl'

html
  font-size 62.5%

body
  font-family raleway
  font-size 1.6rem

.container__main
  background lightGrey
  color darkGrey
  margin 10rem auto
  padding 3rem
  width 40rem

.container__form
  padding 2rem 0
  margin 0 auto
  max-width 30rem

.form__group
  margin 0 auto

.form__label
  display block
  font-weight 500
  margin 1rem auto
  text-align left

.form__input
  display block
  font-size 1.6rem
  margin 0.6rem 0 2rem 0
  padding 1rem 1.6rem
  width 27rem

.button__form--submit
.button--google
  margin 1rem 0
  width 30.6rem

.my-bookings-container 
  padding: 20px
  margin: 50px auto
  width: 1000px
  border-radius: 15px
  box-shadow: 0px 3px 15px rgba(4, 5, 10, 0.2)
  background: offWhite


.user-booking-container 
  width: 900px
  margin: 10px auto


.my-booking-user-info 
  text-align: right
  line-height: 0.8em
  margin: 20px 35px
  padding: 10px


.avatar 
  border: 1px solid lightgray
  width: 100px
  height: 120px
  margin-left: 89%


.booking 
  background: #fff
  border-radius: 5px
  border: 0.5px solid lightgray
  width: 900px
  margin: 5px
  display: flex


.booking-left 
  width: 350px
  padding: 5px 20px
  text-align: left
  color: rgb(95, 70, 70)


.booking-middle 
  padding-top: 10px
  text-align: left
  line-height: 0.8em
  width: 300px
  display: inline


.booking-right 
  width: 200px
  padding-top: 40px
